.header{
    display: flex;
    justify-content: space-between;
    margin:20px;
    border: 1px solid black;
}

.logo{
    width: 100px;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
   
}

.res-card{
    height:340px;
    width: 220px;
    margin: 20px;
    background-color: antiquewhite;
}
.res-card:hover{
border: 1px solid black;
cursor: pointer;
}

.res-container{
    margin: 50px 100px;
    display: flex;
    flex-wrap: wrap;
}

    .search-bar{
    margin: 20px;
}

.nav-items > ul >  li{
    margin: 20px;
}

.res-logo{
    width: 95%;
    height: 50%;
    padding: 5px;
}